<div class="title-bar">
  <div class="app-name">KTurtle</div>
  <div class="documentation-link">
    <a href="https://docs.kde.org/trunk5/en/kturtle/kturtle/index.html">Documentation</a>
  </div>
</div>
<div class="kturtle-container">
  <div class="text-editor">
    <div class="editor-box">
      <div class="editor">Editor
        <div class="button-container">
          <button (click)="executeCommand()" [disabled]="turtleService.isAnimationInProgress">
            <i class="fas fa-play"></i>
          </button>
          <button (click)="clearTextArea()" [disabled]="turtleService.isAnimationInProgress">
            <i class="fas fa-undo"></i>
          </button>
        </div>
      </div>
      <textarea [(ngModel)]="commandInput" placeholder="KTurtle commands go here..." spellcheck="false"></textarea>      
      <div class="display-area">
        <pre>{{ executionResult }}</pre>
      </div>
    </div>
  </div>
  <div class="canvas">
    <div class="speed-slider">
      <input type="range" [(ngModel)]="animationSpeed" (input)="onSpeedChange()" min="1" max="10" [disabled]="turtleService.isAnimationInProgress">
    </div>
    <canvas id="turtleCanvas" width="500" height="500"></canvas>
  </div>
</div>
